
@page "/Adventures"

@inject IAdventureServices AdvetureService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@* @attribute [RenderModeInterActiveServer] *@
<h3>AdventureList</h3>
@if (adventures == null)
{
    <span>Loading....</span>
}
else if (adventures.Count == 0)
{
    <span>No Adventure Found.</span>
}
else
{
      <ul>
        @foreach (var adventure in adventures)
        {
            <li>@adventures.<EditAdventureButton Id="adventure.Id" /></li>
        }
      </ul>
}
<CreateAdventureButton/>
@code {
    List<Adventure>? adventures = null;
    protected override async Task OnInitializedAsync()
    {
        adventures = await AdvetureService.GetAdventures();
    }
  
}
