
@page "/Drivers"

@inject IDriverServices DriverService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@* @attribute [RenderModeInterActiveServer] *@
<h3>DriverList</h3>
@if (drivers == null)
{
    <span>Loading....</span>
}
else if (drivers.Count==0)        
{
    <span>No Drivers Found.</span>
}
else
{
      <ul>
          @foreach (var driver in drivers)
        {
            <li>@driver.FullName<EditGameButton_ Id="driver.Id"/></li>
        }
      </ul>
}
<CreateGameButton/>
@code {
    List<Driver>? drivers = null;
    protected override async Task OnInitializedAsync()
    {
        drivers = await DriverService.GetDrivers();
    }
  
}
