
@page "/Passangers"

@inject IPassnagerServices PassangerService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@* @attribute [RenderModeInterActiveServer] *@
<h3>PassangerList</h3>
@if (Passangers == null)
{
    <span>Loading....</span>
}
else if (Passangers.Count == 0)
{
    <span>No Drivers Found.</span>
}
else
{
      <ul>
        @foreach (var passanger in Passangers)
        {
            <li>@passanger.FullName<EditPassangerButton Id="passanger.Id" /></li>
        }
      </ul>
}
<CreatePassangerButton/>
@code {
    List<Passanger>? Passangers = null;
    protected override async Task OnInitializedAsync()
    {
        Passangers = await PassangerService.GetPassangers();
    }
  
}
