@page "/EditAdventures"
@page "/EditAdventures/{id:int}"

@inject IAdventureServices AdventureService
@attribute [StreamRendering(true)]
@if (Id==null)
{
    <h3>Create Adventure</h3>
}
else
{
    <h3>Edit Adventure.Title</h3>
}


<EditForm Model="adventure" OnSubmit="HandleSubmit" FormName="EditAdventures">
    <label>Name</label>
    <InputText @bind-Value="adventure.Title">@adventure.Id</InputText>
        <button type="submit" class="btn btn-primary">Submit</button>
        @if (Id!=null)
    {
        <button @onclick ="DeleteAdventure"  type="button" class="btn btn-danger">Delete</button>
    }
    </EditForm>

    @code {
    [Parameter]
    public int? Id { get; set; }
    [SupplyParameterFromForm]
    Adventure adventure { get; set; } = new Adventure { Title = string.Empty };

    protected override async Task OnParametersSetAsync()
    {
        adventure =await AdventureService.GetAdventureById((int)Id);

    }
    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await AdventureService.AddAdventure(adventure);
        }
         else
            {
            await AdventureService.EditAdventure(adventure);
        }

        }
        async Task DeleteAdventure ()
        {
        await AdventureService.DeleteAdventures((int)Id);
        }
    }
}
